body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav > div {
  display: inline-block;
  margin: 1em;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  width: 90%;
  height: 90%;
}

.smallImage img {
  width: 10%;
  height: 10%;
}

.detailedImage img {
  width: 40%;
  height: 40%;
}
/*********************************
Main Navigation
*********************************/

.main_nav_container {
  width: 100%;
  background: #ffffff;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}

/* Logo
*/
.logo_container {
  position: relative;
  top: 50%;
  left: 15px;
}
.logo_container a {
  font-size: 24px;
  color: #1e1e27;
  font-weight: 700;
  text-transform: uppercase;
}
.logo_container a span {
  color: #eac5b3;
}

/*
Flex for the main page
*/

.containerMain {
  margin: 4%;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.categoryRow {
  height: 10%;
  width: 25%;
  padding: 2%;
  text-align: center;
}

.mainImage {
  height: 2%;
  width: 100%;
  display: flex;
}
